include README.md
include license.txt
recursive-include apex *.py
recursive-include apex *.json
recursive-include apex *.js
recursive-include apex *.css
recursive-include apex *.html
recursive-include apex *.md
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
