.tc-table tbody tr {
	cursor: pointer;
}

@media (hover: hover) {
	.tc-table tbody tr:hover {
		background-color: var(--fg-hover-color);
	}
}

.tc-backdrop {
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.35);
	z-index: 1029;
	display: none;
}
